html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg, #11137E, #B82D77);
    color: white;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.votes {
    padding: 12px;
    font-size: medium;
}

.reproductor {
    margin: 20px;
}

